.matches-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.match-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.match-card p {
  margin: 5px 0;
}

.match-card p:first-child {
  font-weight: bold;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
